body{
    padding: 5px;
}
hr.thick-line {
    height: 5px;
    /* Adjust this value for desired thickness */
    background-color: (255, 255, 255) (245, 5, 5, 0.849);
    /* Set a color for visibility */
    border: none;
    /* Remove default border for a clean look */
}
.main-d{
    display: flex;
}

hr {
    background-color: white;
}
img{
    width: 300px;
        border: 2px white;
}
p{
    font-size: 28px;
    color: white;
}